.main {
    height: 100vh;
    background: #0E1827;
    background-image: url('https://assets-global.website-files.com/6372338e5477e047032b37a5/63731d1326e7dc7d19a46ec8_stars%20desktop.svg');
}

.home-page {
    height: 100%;
}
